.nav-container {
    padding: 35px 50px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-links {
        display: flex;
        h2 {
            padding: 0 20px;
            color: var(--color);
        }
    }

    .nav-logo {
    .dark-logo {
        display: var(--none);
    }
    .ligth-logo {
        display: var(--block);
    }
}

}
