* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  background: var(--body-bg);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6, p, a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  padding: 80px 115px;
}

@media (max-width: 992px) {
  .container {
    padding: 50px 55px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 30px;
  }
}

.section-btn {
  padding: 18px 50px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid var(--secondary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-right: 20px;
  color: var(--btn-color);
  font-size: var(--h4);
  line-height: var(--h4-h);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-btn svg {
  font-size: 24px;
  margin-right: 15px;
}

.section-btn:hover {
  background: var(--secondary);
  border-color: var(--secondary);
}

@media (max-width: 992px) {
  .section-btn {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .section-btn {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  padding: 18px 50px;
  border-radius: 20px;
  background: var(--secondary);
  border: 2px solid transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-right: 20px;
  color: var(--btn-color);
  font-size: var(--h4);
  line-height: var(--h4-h);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn svg {
  font-size: 24px;
  margin-right: 15px;
}

.btn:hover {
  background: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
}

@media (max-width: 992px) {
  .btn {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
  color: var(--color);
  padding-bottom: 10px;
}

@media (max-width: 1440px) {
  .section-title {
    font-size: 38px;
    line-height: 45px;
  }
}

@media (max-width: 992px) {
  .section-title {
    font-size: 28px;
    line-height: 40px;
  }
}

.section-pera {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color);
  text-transform: capitalize;
}

@media (max-width: 1440px) {
  .section-pera {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .section-pera {
    font-size: 16px;
    line-height: 22px;
  }
}
/*# sourceMappingURL=App.css.map */