* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  background: var(--body-bg);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6, p, a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  padding: 80px 115px;
}

@media (max-width: 992px) {
  .container {
    padding: 50px 55px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 30px;
  }
}

.section-btn {
  padding: 18px 50px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid var(--secondary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-right: 20px;
  color: var(--sction-btn);
  font-size: var(--h4);
  line-height: var(--h4-h);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-btn svg {
  font-size: 24px;
  margin-right: 15px;
  color: var(--secondary);
}

.section-btn:hover {
  background: var(--secondary);
  border-color: var(--secondary);
  color: #fff;
}

.section-btn:hover svg {
  color: var(--btn-color);
}

@media (max-width: 992px) {
  .section-btn {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .section-btn {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  padding: 18px 50px;
  border-radius: 20px;
  background: var(--secondary);
  border: 2px solid transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-right: 20px;
  color: var(--btn-color);
  font-size: var(--h4);
  line-height: var(--h4-h);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn svg {
  font-size: 24px;
  margin-right: 15px;
}

.btn:hover {
  background: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
}

@media (max-width: 992px) {
  .btn {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
  color: var(--color);
  padding-bottom: 10px;
}

@media (max-width: 1440px) {
  .section-title {
    font-size: 38px;
    line-height: 45px;
  }
}

@media (max-width: 992px) {
  .section-title {
    font-size: 28px;
    line-height: 40px;
  }
}

.section-pera {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color);
  text-transform: capitalize;
}

@media (max-width: 1440px) {
  .section-pera {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .section-pera {
    font-size: 16px;
    line-height: 22px;
  }
}

.input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  padding: 0;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .input form {
    display: -ms-grid;
    display: grid;
    background: transparent;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.input form input {
  background: transparent;
  padding: 20px;
  outline: none;
  border: none;
  width: 100%;
}

@media (max-width: 1200px) {
  .input form input {
    background: var(--input);
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.input form .btn {
  margin: 0;
}

@media (max-width: 1200px) {
  .input form .btn {
    width: 100%;
    border-radius: 25px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: var(--color);
}

.card-creater {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color);
}

.card-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color);
}

.animated-button {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}

.animated-button:hover em {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.animated-button:hover em:nth-child(1) {
  -webkit-transition-delay: 0.025s;
          transition-delay: 0.025s;
}

.animated-button:hover em:nth-child(2) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.animated-button:hover em:nth-child(3) {
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.animated-button:hover em:nth-child(4) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animated-button:hover em:nth-child(5) {
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.animated-button:hover em:nth-child(6) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.animated-button:hover em:nth-child(7) {
  -webkit-transition-delay: 0.175s;
          transition-delay: 0.175s;
}

.animated-button:hover em:nth-child(8) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.animated-button:hover em:nth-child(9) {
  -webkit-transition-delay: 0.225s;
          transition-delay: 0.225s;
}

.animated-button:hover em:nth-child(10) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.animated-button:hover em:nth-child(11) {
  -webkit-transition-delay: 0.275s;
          transition-delay: 0.275s;
}

.animated-button:hover em:nth-child(12) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.animated-button:hover em:nth-child(13) {
  -webkit-transition-delay: 0.325s;
          transition-delay: 0.325s;
}

.animated-button:hover em:nth-child(14) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.animated-button:hover em:nth-child(15) {
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

.animated-button:hover em:nth-child(16) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.animated-button:hover em:nth-child(17) {
  -webkit-transition-delay: 0.425s;
          transition-delay: 0.425s;
}

.animated-button:hover em:nth-child(18) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.animated-button:hover em:nth-child(19) {
  -webkit-transition-delay: 0.475s;
          transition-delay: 0.475s;
}

.animated-button em {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.animated-button em:nth-child(1) {
  -webkit-transition-delay: 0.025s;
          transition-delay: 0.025s;
}

.animated-button em:nth-child(2) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.animated-button em:nth-child(3) {
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.animated-button em:nth-child(4) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animated-button em:nth-child(5) {
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.animated-button em:nth-child(6) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.animated-button em:nth-child(7) {
  -webkit-transition-delay: 0.175s;
          transition-delay: 0.175s;
}

.animated-button em:nth-child(8) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.animated-button em:nth-child(9) {
  -webkit-transition-delay: 0.225s;
          transition-delay: 0.225s;
}

.animated-button em:nth-child(10) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.animated-button em:nth-child(11) {
  -webkit-transition-delay: 0.275s;
          transition-delay: 0.275s;
}

.animated-button em:nth-child(12) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.animated-button em:nth-child(13) {
  -webkit-transition-delay: 0.325s;
          transition-delay: 0.325s;
}

.animated-button em:nth-child(14) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.animated-button em:nth-child(15) {
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

.animated-button em:nth-child(16) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.animated-button em:nth-child(17) {
  -webkit-transition-delay: 0.425s;
          transition-delay: 0.425s;
}

.animated-button em:nth-child(18) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.animated-button em:nth-child(19) {
  -webkit-transition-delay: 0.475s;
          transition-delay: 0.475s;
}

.animated-button span {
  position: relative;
  overflow: hidden;
  display: block;
  text-shadow: 0 18px 0 var(--secondary);
}

.animated-button span em {
  min-width: 5px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animated-button span em .animated-button {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}

.animated-button span em .animated-button span {
  position: relative;
  overflow: hidden;
  display: block;
  text-shadow: 0 16px 0 var(--secondary);
}

.animated-button span em .animated-button span em {
  min-width: 5px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animated-btn:hover em {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.animated-btn:hover em:nth-child(1) {
  -webkit-transition-delay: 0.025s;
          transition-delay: 0.025s;
}

.animated-btn:hover em:nth-child(2) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.animated-btn:hover em:nth-child(3) {
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.animated-btn:hover em:nth-child(4) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animated-btn:hover em:nth-child(5) {
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.animated-btn:hover em:nth-child(6) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.animated-btn:hover em:nth-child(7) {
  -webkit-transition-delay: 0.175s;
          transition-delay: 0.175s;
}

.animated-btn:hover em:nth-child(8) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.animated-btn:hover em:nth-child(9) {
  -webkit-transition-delay: 0.225s;
          transition-delay: 0.225s;
}

.animated-btn:hover em:nth-child(10) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.animated-btn:hover em:nth-child(11) {
  -webkit-transition-delay: 0.275s;
          transition-delay: 0.275s;
}

.animated-btn:hover em:nth-child(12) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.animated-btn:hover em:nth-child(13) {
  -webkit-transition-delay: 0.325s;
          transition-delay: 0.325s;
}

.animated-btn:hover em:nth-child(14) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.animated-btn:hover em:nth-child(15) {
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

.animated-btn:hover em:nth-child(16) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.animated-btn:hover em:nth-child(17) {
  -webkit-transition-delay: 0.425s;
          transition-delay: 0.425s;
}

.animated-btn:hover em:nth-child(18) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.animated-btn:hover em:nth-child(19) {
  -webkit-transition-delay: 0.475s;
          transition-delay: 0.475s;
}

.animated-btn em {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.animated-btn em:nth-child(1) {
  -webkit-transition-delay: 0.025s;
          transition-delay: 0.025s;
}

.animated-btn em:nth-child(2) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.animated-btn em:nth-child(3) {
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.animated-btn em:nth-child(4) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.animated-btn em:nth-child(5) {
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.animated-btn em:nth-child(6) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.animated-btn em:nth-child(7) {
  -webkit-transition-delay: 0.175s;
          transition-delay: 0.175s;
}

.animated-btn em:nth-child(8) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.animated-btn em:nth-child(9) {
  -webkit-transition-delay: 0.225s;
          transition-delay: 0.225s;
}

.animated-btn em:nth-child(10) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.animated-btn em:nth-child(11) {
  -webkit-transition-delay: 0.275s;
          transition-delay: 0.275s;
}

.animated-btn em:nth-child(12) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.animated-btn em:nth-child(13) {
  -webkit-transition-delay: 0.325s;
          transition-delay: 0.325s;
}

.animated-btn em:nth-child(14) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.animated-btn em:nth-child(15) {
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

.animated-btn em:nth-child(16) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.animated-btn em:nth-child(17) {
  -webkit-transition-delay: 0.425s;
          transition-delay: 0.425s;
}

.animated-btn em:nth-child(18) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.animated-btn em:nth-child(19) {
  -webkit-transition-delay: 0.475s;
          transition-delay: 0.475s;
}
/*# sourceMappingURL=App.css.map */