* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}


body {
    background: var(--body-bg);
font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    padding: 80px 115px;
    @media (max-width:992px) {
        padding: 50px 55px;
    }
    @media (max-width:768px) {
        padding: 40px 30px;
    }
}

.btn {
    padding: 18px 50px;
    border-radius: 20px;
    background: var(--secondary);
    border: 2px solid transparent;
    transition: var(--transition) ;
    margin-right: 20px;
    color: var(--btn-color);
    font-size: var(--h4);
    line-height: var(--h4-h);
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
        font-size: 24px;
        margin-right: 15px;
    }

    &:hover {
        background: transparent;
        border-color: var(--secondary);
        color: var(--secondary);
    }

    @media (max-width:992px ) {
        margin: 0;
    }

    @media (max-width:768px ) {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
