@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#light {
         --color: #000;
         --body-bg: #e3e3e3;
         --none:none;
         --block: block;
}

#dark {
         --color: #fff;
         --body-bg: #2B2B2B;
         --none:block;
         --block: none;
}

:root {
    --font-family: 'Work Sans', sans-serif;

    // COLORS
    --btn-bg: #A259FF; 
    --light-bg: #f3ebf6;

    // size
    --titl: 38px;
    --title-line: 45px;
    --sub-title: 22px;
    --sub-title-line: 35px;

    // btns 
    --btn-padding: 20px 50px;
    --btn-padding-2: 20px 30px;

}